body {
    font-size: 14px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: $grey-text-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
ul,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}