<div class="container" id="contact">
  <h2 hidden>contacts</h2>
  <ul class="contacts-list">
    <li class="contacts-list-item">
      <a href="" class="contacts-link-logo">
        <svg class="header-link-logo">
          <use href="./images/svg/sprite.svg#icon-logo-black"></use>
        </svg>
      </a>
    </li>
    <li class="contacts-list-item">
      <a href="tel:+380000000000" class="contacts-link-tel">
        <svg class="contacts-list-link-svg">
          <use href="./images/svg/sprite.svg#tel"></use>
        </svg>
        <span class="animation-hover-text">+38 (000) 000 00 00</span>
      </a>
    </li>
    <li class="contacts-list-item">
      <a
        href="https://instagram.com"
        target="_blank"
        class="contacts-link-social"
      >
        <img
          src="./images/svg/instagram.svg"
          alt="instagram"
          width="40"
          height="40"
        />
      </a>
    </li>
  </ul>
</div>
