<div class="container">
  <ul>
    <li>
      <a href="" class="contacts-link-logo">
        <svg width="84" height="30">
          <use href="./images/svg/sprite.svg#icon-logo-black"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="tel:+380000000000" class="contacts-link-tel">
        <svg width="20" height="20">
          <use href="./images/svg/sprite.svg#tel"></use>
        </svg>
        <span class="animation-hover-text">+38 (000) 000 00 00</span>
      </a>
    </li>
    <li>
      <a href="" class="contacts-link-social">
        <img
          src="./images/svg/instagram.svg"
          alt="instagram"
          width="40"
          height="40"
        />
      </a>
    </li>
  </ul>
</div>
