    <div class="container">
          <div class="header-menu">
            <a href="./index.html" class="header-link" data-logo>
                <svg class="header-link-logo">
                    <use class="header-link-logo-black" href="./images/svg/sprite.svg#icon-logo-black"></use>
                    <use class="header-link-logo-white" href="./images/svg/sprite.svg#icon-logo"></use>
                </svg>
              </a>
              <nav class="header-navigation" data-menu id="header-navbars">
               <div class="header-navigation-fixsed">
                <ul class="header-navigation-list">
                  <li class="header-navigation-list-item">
                    <a href="#programm" class="header-navigation-list-item-link"
                      >Программа обучения</a
                    >
                  </li>
                  <li class="header-navigation-list-item">
                    <a href="#about" class="header-navigation-list-item-link">О нас</a>
                  </li>
                  <li class="header-navigation-list-item">
                    <a href="#contact" class="header-navigation-list-item-link"
                      >Варианты обучения</a
                    >
                  </li>
                  <li class="header-navigation-list-item">
                    <a href="#contact" class="header-navigation-list-item-link"
                      >Контакты</a
                    >
                  </li>
                </ul>
                <a href="#contact"><button class="btn button-header animation-hover-btn ">консультация по телефону</button></a>
               </div>
              </nav>
              <a href="#contact" class="header-link-right"
              ><button class="btn  button-header-laptop animation-hover-btn ">консультация по телефону</button></a>
                <button class="button-burger" type="button"  aria-expanded="false" aria-controls="header-navbars" data-menu-button>
                    <svg class="menu-burger-icon">
                        <use class="menu-burger-open" href="./images/svg/sprite.svg#icon-burger-open"></use>
                        <use class="menu-burger-close" href="./images/svg/sprite.svg#icon-burger-close"></use>
                    </svg>
                </button>
          </div>
    </div>