<header class="header">
    <div class="container header-block">
        <div class="header-box">
            <a href="index.html" class="header-link">Hell<svg class="header-link-logo">
                    <use href="./images/img-project/svg/sprite.svg#logo"></use>
                </svg>EN</a>
            <p class="header-text">адский английский</p>
        </div>
        <div class="header-navbars">
            <button class="button-burger" id="openMenu" type="button">
                <svg class="button-burger-open-svg">
                    <use href="images/img-project/svg/sprite.svg#icon-menu"></use>
                </svg>
            </button>
            <nav class="header-menu" id="menu">
                <ul class="header-menu-list">
                    <li class="header-menu-list-item"><a href="#" class="header-menu-list-item-link">Программа
                            обучения</a></li>
                    <li class="header-menu-list-item"><a href="#" class="header-menu-list-item-link">О нас</a></li>
                    <li class="header-menu-list-item"><a href="#" class="header-menu-list-item-link">Варианты
                            обучения</a></li>
                    <li class="header-menu-list-item"><a href="#" class="header-menu-list-item-link">Контакты</a></li>
                </ul>
                <button class="button button-header">консультация по телефону</button>
            </nav>
        </div>

    </div>
</header>