<header class="header">
    <div class="container">
          <div class="header-menu">
            <a href="./index.html" class="header-link" data-logo>
                <svg class="header-link-logo">
                    <use class="header-link-logo-black" href="./images/svg/sprite.svg#icon-logo-black"></use>
                    <use class="header-link-logo-white" href="./images/svg/sprite.svg#icon-logo"></use>
                </svg>
              </a>
              <button class="button button-header-laptop">консультация по телефону</button>
                <button class="button-burger" type="button" aria-expanded="false" aria-controls="header-navbars" data-menu-button data-logo-button>
                    <svg class="menu-burger-icon">
                        <use class="menu-burger-open" href="./images/svg/sprite.svg#icon-burger-open"></use>
                        <use class="menu-burger-close" href="./images/svg/sprite.svg#icon-burger-close"></use>
                    </svg>
                </button>
          </div>
            <div class="header-navbars" data-menu>
            <nav class="header-navigation">
                <ul class="header-navigation-list">
                    <li class="header-navigation-list-item"><a href="#" class="header-navigation-list-item-link">Программа
                            обучения</a></li>
                    <li class="header-navigation-list-item"><a href="#" class="header-navigation-list-item-link">О нас</a></li>
                    <li class="header-navigation-list-item"><a href="#" class="header-navigation-list-item-link">Варианты
                            обучения</a></li>
                    <li class="header-navigation-list-item"><a href="#" class="header-navigation-list-item-link">Контакты</a></li>
                </ul>
                <button class="button button-header">консультация по телефону</button>
            </nav>
        </div>
    </div>
</header>