<section class="hero hero-line-img">
    <div class="container ">
        <ul class="hero-box-list">
            <li class="hero-box-list-item">
                <div class="hero-block">
                    <h1 class="hero-title">
                        Комплексная подготовка к ВНО 
                        по английскому 
                        языку
                    </h1>
                    <p class="hero-text"><span class="hero-text-span-light-grey">Просто не будет.</span> 
                    Но ты гарантировано наберешь 
                    <span class="hero-text-span-orange">+25 баллов </span></p>
                    <button class="button">хочу на бесплатное занятие</button>
                </div>
            </li>
            <li class="hero-box-list-item">
                <div class="hero-bg-img">
                    <picture>
                        <source srcset="./images/header-img/header/headerx721w.webp 1x, ./images/header-img/header/header1440w.webp 2x"
                        type="image/webp" media="(min-width: 1356px)">
                        <source srcset="./images/tablet-img/tablet-header/header322w.webp 1x, ./images/tablet-img/tablet-header/header643w.webp 2x"
                        type="image/webp"  media="(min-width: 768px)">
                        <source srcset="./images/mobile-img/mobile-header/header178w.webp 1x, ./images/mobile-img/mobile-header/header356w.webp 2x" type="image/webp" media="(min-width: 320px)">
                        <img class="hero-img" 
                        srcset="
                        ./images/mobile-img/mobile-header/headerx1.png 178w,
                        ./images/mobile-img/mobile-header/headerx2.png 356w,
                        ./images/tablet-img/tablet-header/header1x.png 322w, 
                        ./images/tablet-img/tablet-header/header1x.png 643w,
                        ./images/header-img/header/headerx1.png 721w, 
                        ./images/header-img/header/headerx1.png 1440w"
                        src="./images/mobile-img/mobile-header/headerx1.png" 
                        sizes="(min-width:1356px) 721px, (min-width: 768px) 322px, 178px" alt="">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
    <div class="hero-bg-light-grey">
        <div class="container">
            <ul class="hero-list">
                <li class="hero-list-item">
                    <svg class="hero-list-item-icon">
                        <use href="./images/svg/sprite.svg#icon1"></use>
                    </svg>
                    <p class="hero-list-item-text">Адаптированная авторская программа ВНО</p>
                </li>
                <li class="hero-list-item">
                    <svg class="hero-list-item-icon">
                        <use href="./images/svg/sprite.svg#icon2"></use>
                    </svg>
                    <p class="hero-list-item-text">Современные методики обучения</p>
                </li>
                <li class="hero-list-item">
                    <svg class="hero-list-item-icon">
                        <use href="./images/svg/sprite.svg#icon3"></use>
                    </svg>
                    <p class="hero-list-item-text">Финансовая гарантия результата</p>
                </li>
            </ul>
        </div>
    </div>
</section>