<div class="container">
  <ul class="hero-box-list">
    <li class="hero-box-list-item">
      <div class="hero-block">
        <h1 class="hero-title">
          Комплексная подготовка к ВНО по английскому языку
        </h1>
        <p class="hero-text">
          <span class="hero-text-span-light-grey">Просто не будет.</span>
          Но ты гарантировано наберешь
          <span class="hero-text-span-orange">+25 баллов </span>
        </p>
        <a href="#contact" class="btn button-hero animation-hover-btn"
          >хочу на бесплатное занятие</a
        >
      </div>
    </li>
    <li class="hero-box-list-item">
      <div class="hero-bg-img"></div>
    </li>
  </ul>
</div>
<div class="hero-bg-light-grey">
  <div class="container">
    <ul class="hero-list">
      <li class="hero-list-item">
        <svg class="hero-list-item-icon">
          <use href="./images/svg/sprite.svg#icon1"></use>
        </svg>
        <p class="hero-list-item-text">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="hero-list-item">
        <svg class="hero-list-item-icon">
          <use href="./images/svg/sprite.svg#icon2"></use>
        </svg>
        <p class="hero-list-item-text">Современные методики обучения</p>
      </li>
      <li class="hero-list-item">
        <svg class="hero-list-item-icon">
          <use href="./images/svg/sprite.svg#icon3"></use>
        </svg>
        <p class="hero-list-item-text">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</div>
