<section class="hero">
    <div class="container">
        <h1 class="hero-title">
            Комплексная подготовка к ВНО по английскому языку
        </h1>
        <p class="hero-text">
            <span class="hero-text-span-light-grey">Просто не будет.</span>
            Но ты гарантировано наберешь
            <span class="hero-text-span-orange">+25 баллов</span>
        </p>
        <button class="button">хочу на бесплатное занятие</button>
        <div class="hero-img">
            <img src="./images/img-project/head-img/header.jpg" alt="" width="178px" height="178px">
        </div>
    </div>
    <div class="hero-bg-light-grey">
        <div class="container">
            <ul class="hero-list">
                <li class="hero-list-item hero-icon-user">
                    <span class="hero-list-item-span"></span>
                    <p class="hero-list-item-text">Адаптированная авторская программа ВНО</p>
                </li>
                <li class="hero-list-item">
                    <span class="hero-list-item-span"></span>
                    <p class="hero-list-item-text">Современные методики обучения</p>
                </li>
                <li class="hero-list-item">
                    <span class="hero-list-item-span"></span>
                    <p class="hero-list-item-text">Финансовая гарантия результата</p>
                </li>
            </ul>
        </div>
    </div>
</section>