<div class="container">
    <div class="problems-block">
        <h2 class="porblems-title">Главные проблемы учеников <br> на English ВНО, которые <br> мы <span
            class="porblems-title-accent">помогаем</span> решить</h2>
    <ul class="problems-list">
        <li class="problems-list-item">
            <p class="problems-list-item-text">Название грамматики</p>
        </li>
        <li class="problems-list-item">
            <p class="problems-list-item-text">Неумение вомпринимать устную английскую речь</p>
        </li>
        <li class="problems-list-item">
            <p class="problems-list-item-text">Скупой словарный запас для написани сочинения</p>
        </li>
        <li class="problems-list-item">
            <p class="problems-list-item-text">Поодготовка в одиночку</p>
        </li>
        <li class="problems-list-item">
            <p class="problems-list-item-text">Отсутствие единого ресурса знаний</p>
        </li>
        <li class="problems-list-item">
            <p class="problems-list-item-text">Недостатой самоорганизации и лень</p>
        </li>
    </ul>
    </div>

</div>