<div class="program-line-list"></div>
<div class="container" id="programm">
  <h2 class="program-title">Наша программа</h2>
  <ul class="program-list">
    <li class="program-list-item program-line">
      <p class="program-list-item-title">1 семестр</p>
      <ul class="program-list-item-list">
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Grammar</h3>
          <p class="program-list-item-list-item-text">
            Nouns & Articles 
            Adjectives & Adverb
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Vocabulary</h3>
          <p class="program-list-item-list-item-text">
            Family & Relations 
            People & Society
          </p>
        </li>
      </ul>
    </li>
    <li class="program-list-item program-line">
      <p class="program-list-item-title">2 семестр</p>
      <ul class="program-list-item-list">
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Grammar</h3>
          <p class="program-list-item-list-item-text">
            Pronouns 
            Active Voice 
            Passive Voice
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Vocabulary</h3>
          <p class="program-list-item-list-item-text">
            <span class="program-list-item-list-item-text-span">Home </span>
            <span class="program-list-item-list-item-text-span">School</span>
            Work
          </p>    
        </li>
      </ul>
    </li>
    <li class="program-list-item program-line">
      <p class="program-list-item-title">3 семестр</p>
      <ul class="program-list-item-list">
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Grammar</h3>
          <p class="program-list-item-list-item-text">
            Modal verbs 
            Infinitive 
            Gerund 
            Passive: 1, 2
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Vocabulary</h3>
          <p class="program-list-item-list-item-text">
            Travel & Tourism 
            Culture & Free Time 
            Sport
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Writing</h3>
          <p class="program-list-item-list-item-text">Informal Letter</p>
        </li>
      </ul>
    </li>
    <li class="program-list-item program-line">
      <p class="program-list-item-title">4 семестр</p>
      <ul class="program-list-item-list">
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Grammar</h3>
          <p class="program-list-item-list-item-text">
            Clauses: Conditional and 
            Wishes 
            Direct / Reddorted speech
            Preposition 
            Conjunction 
            Numeral
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Vocabulary</h3>
          <p class="program-list-item-list-item-text">
            Healthy Living 
            Nature & Environment 
            Money
          </p>
        </li>
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title">Writing</h3>
          <p class="program-list-item-list-item-text">Formal Letter</p>
        </li>
      </ul>
    </li>
    <li class="program-list-item program-line">
      <p class="program-list-item-title">5 семестр</p>
      <ul class="program-list-item-list">
        <li class="program-list-item-list-item">
          <h3 class="program-list-item-list-item-title" style="padding-top: 20px">
            <span hidden>текст</span>
          </h3>
          <p class="program-list-item-list-item-text">Revision</p>
            <p class="program-list-item-list-item-text">Tests</p>
        </li>
      </ul>
    </li>
  </ul>
  <h2 class="choose-title">Почему
    нас выбирают</h2>
  <ul class="problems-list" id="about">
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Обучение в малых командах</p>
    </li>
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Визуализированные конспекты</p>
    </li>
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Каждое занятие имеет цель и конкретный результат</p>
    </li>
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Ревльные результаты преподавателя</p>
    </li>
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Прогамма курса соответствует требованиям МОН Украины</p>
    </li>
    <li class="problems-list-item choose-list-item">
      <p class="problems-list-item-text">Набор команд по уровням знаний</p>
    </li>
  </ul>
</div>