<div class="container ">

    <h2 class="program-title">Наша программа</h2>
    <ul class="program-list program-bg-img">
        <li class="program-list-item program-line">
            <p class="program-list-item-title">1 семестр</p>
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Nouns & Articles</dd>
                <dd class="program-list-item-list-item-text">Adjectives & Adverb</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Family & Relations</dd>
                <dd class="program-list-item-list-item-text">People & Society</dd>
            </dl>
        </li>
        <li class="program-list-item program-line">
            <p class="program-list-item-title">2 семестр</p>
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Pronouns</dd>
                <dd class="program-list-item-list-item-text">Active Voice</dd>
                <dd class="program-list-item-list-item-text">Passive Voice</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Home</dd>
                <dd class="program-list-item-list-item-text">School</dd>
                <dd class="program-list-item-list-item-text">Work</dd>
            </dl>
        </li>
        <li class="program-list-item program-line">
            <p class="program-list-item-title">3 семестр</p>
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Modal verbs</dd>
                <dd class="program-list-item-list-item-text">Infinitive</dd>
                <dd class="program-list-item-list-item-text">Gerund</dd>
                <dd class="program-list-item-list-item-text">Passive: 1, 2</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Travel & Tourism</dd>
                <dd class="program-list-item-list-item-text">Culture & Free Time</dd>
                <dd class="program-list-item-list-item-text">Sport</dd>
                <dt class="program-list-item-list-item-title">Writing</dt>
                <dd class="program-list-item-list-item-text">Informal Letter</dd>
            </dl>
        </li>
        <li class="program-list-item program-line">
            <p class="program-list-item-title">4 семестр</p>
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Clauses: Conditional and Wishes</dd>
                <dd class="program-list-item-list-item-text">Direct / Reddorted speech</dd>
                <dd class="program-list-item-list-item-text">Preposition</dd>
                <dd class="program-list-item-list-item-text">Conjunction</dd>
                <dd class="program-list-item-list-item-text">Numeral</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Healthy Living</dd>
                <dd class="program-list-item-list-item-text">Nature & Environment</dd>
                <dd class="program-list-item-list-item-text">Money</dd>
                <dt class="program-list-item-list-item-title">Writing</dt>
                <dd class="program-list-item-list-item-text">Formal Letter</dd>
            </dl>
        </li>
        <li class="program-list-item program-line">
            <p class="program-list-item-title">5 семестр</p>
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title"></dt>
                <dd class="program-list-item-list-item-text">Revision</dd>
                <dd class="program-list-item-list-item-text">Tests</dd>
            </dl>
        </li>
    </ul>
    <h2 class="choose-title">Почему нас выбирают</h2>
<ul class="choose-list">
    <li class="problems-list-item">
        <p class="problems-list-item-text">Обучение в малых командах</p>
    </li>
    <li class="problems-list-item">
        <p class="problems-list-item-text">Визуализированные конспекты</p>
    </li>
    <li class="problems-list-item">
        <p class="problems-list-item-text">Каждое занятие имеет цель и конкретный результат</p>
    </li>
    <li class="problems-list-item">
        <p class="problems-list-item-text">Ревльные результаты преподавателя </p>
    </li>
    <li class="problems-list-item">
        <p class="problems-list-item-text">Прогамма курса соответствует требованиям МОН Украины</p>
    </li>
    <li class="problems-list-item">
        <p class="problems-list-item-text">Набор команд по уровням знаний</p>
    </li>
</ul>
</div>