<div class="container">

    <h2 class="program-title">Наша программа</h2>
    <ul class="program-list">
        <li class="program-list-item">1 семестр
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Nouns & Articles</dd>
                <dd class="program-list-item-list-item-text">Adjectives & Adverb</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Family & Relations</dd>
                <dd class="program-list-item-list-item-text">People & Society</dd>
            </dl>
        </li>
        <li class="program-list-item">2 семестр
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Pronouns</dd>
                <dd class="program-list-item-list-item-text">Active Voice</dd>
                <dd class="program-list-item-list-item-text">Passive Voice</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Home</dd>
                <dd class="program-list-item-list-item-text">School</dd>
                <dd class="program-list-item-list-item-text">Work</dd>
            </dl>
        </li>
        <li class="program-list-item">3 семестр
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Modal verbs</dd>
                <dd class="program-list-item-list-item-text">Infinitive</dd>
                <dd class="program-list-item-list-item-text">Gerund</dd>
                <dd class="program-list-item-list-item-text">Passive: 1, 2</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Travel & Tourism</dd>
                <dd class="program-list-item-list-item-text">Culture & Free Time</dd>
                <dd class="program-list-item-list-item-text">Sport</dd>
                <dt class="program-list-item-list-item-title">Writing</dt>
                <dd class="program-list-item-list-item-text">Informal Letter</dd>
            </dl>
        </li>
        <li class="program-list-item">4 семестр
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title">Grammar</dt>
                <dd class="program-list-item-list-item-text">Clauses: Conditional and Wishes</dd>
                <dd class="program-list-item-list-item-text">Direct / Reddorted speech</dd>
                <dd class="program-list-item-list-item-text">Preposition</dd>
                <dd class="program-list-item-list-item-text">Conjunction</dd>
                <dd class="program-list-item-list-item-text">Numeral</dd>
                <dt class="program-list-item-list-item-title">Vocabulary</dt>
                <dd class="program-list-item-list-item-text">Healthy Living</dd>
                <dd class="program-list-item-list-item-text">Nature & Environment</dd>
                <dd class="program-list-item-list-item-text">Money</dd>
                <dt class="program-list-item-list-item-title">Writing</dt>
                <dd class="program-list-item-list-item-text">Formal Letter</dd>
            </dl>
        </li>
        <li class="program-list-item">5 семестр
            <dl class="program-list-item-list">
                <dt class="program-list-item-list-item-title"></dt>
                <dd class="program-list-item-list-item-text">Revision</dd>
                <dd class="program-list-item-list-item-text">Tests</dd>
            </dl>
        </li>
    </ul>
</div>