<div class="container">
  <h3 class="registration-title">
    Регистрация на <span class="span-color">бесплатную </span> телефонную
    <span class="span-color">консультацию</span> по нюансам ЗНО по английскому
    языку
  </h3>

  <p class="registration-text">
    Оставь заявку на участие в
    <span class="span-color">бесплатном занятии .</span>
    <span>С вами свяжется консультант</span> и ответит на вопросы
  </p>

  <form class="registration-form">
    <input
      class="registration-form-input"
      type="text"
      name="name"
      placeholder="Имя*"
      required
    />

    <input
      class="registration-form-input"
      type="tel"
      name="tel"
      placeholder="Телефон*"
      required
    />

    <button class="btn animation-hover-btn" type="submit">
      хочу на бесплатное занятие
    </button>
  </form>
</div>
