<div class="container">
  <h2 class="reviews-title">Отзывы выпускников</h2>

  <div class="owl-out">
    <div class="owl-carousel owl-theme">
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul class="reviews-title-list">
          <li class="reviews-title-list-item">
            <picture>
              <source
                srcset="
                  ./images/header-img/reviews1x.png 1x,
                  ./images/header-img/reviews2x.png 2x
                "
                media="(min-width: 1356px)"
              />
              <source
                srcset="
                  ./images/tablet-img/reviews1x.png 1x,
                  ./images/tablet-img/reviews2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./images/mobile-img/rewievsx1.png 2x"
                media="(min-width: 320px)"
              />
              <img
                class="reviews-img"
                src="./images/mobile-img/reviews1x.png"
                alt=""
                width="150"
                height="150"
              />
            </picture>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="reviews-list-item-fb-svg">
                <use href="./images/svg/facebook.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="reviews-title-list-item-tablet">
            <h3 class="reviews-title-name">Тоня Кучеровская</h3>

            <p class="reviews-title-name-text-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>

            <p class="reviews-title-name-text-comment">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a class="reviews-title-name-text-link" href="">Читать дальше</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="thumbs reviews-graduates-slider">
      <button class="thumb reviews-graduates-list btn-caorusel" type="button">
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-1.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button class="thumb reviews-graduates-list btn-caorusel" type="button">
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-2.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button class="thumb reviews-graduates-list btn-caorusel" type="button">
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-3.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button
        class="thumb reviews-graduates-list reviews-graduates-list-t-d btn-caorusel"
        type="button"
      >
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-4.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button
        class="thumb reviews-graduates-list reviews-graduates-list-t-d btn-caorusel"
        type="button"
      >
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-5.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button
        class="thumb reviews-graduates-list reviews-graduates-list-t-d btn-caorusel"
        type="button"
      >
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-6.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
      <button
        class="thumb reviews-graduates-list reviews-graduates-list-t-d btn-caorusel"
        type="button"
      >
        <img
          class="reviews-graduates-img"
          src="./images/reviews-img/elipse-7.png"
          alt="Выпускница"
          width="54"
          height="54"
        />
      </button>
    </div>
  </div>
</div>
