<div class="container">
  <div class="teacher-tablet">
    <div class="teacher-photo-tablet">
      <h2 class="teacher-title">Преподаватель</h2>
      <picture>
        <source
          srcset="
            ./images/header-img/teacher1x.jpg 1x,
            ./images/header-img/teacher2x.jpg 2x
          "
          media="(min-width: 1356px)"
        />
        <source
          srcset="
            ./images/tablet-img/teacher1x.jpg 1x,
            ./images/tablet-img/teacher2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mobile-img/teacher2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img
          class="teacher-img"
          src="./images/mobile-img/teacher1x.jpg"
          alt=""
          width="530"
          height="667"
        />
      </picture>
    </div>

    <div class="teacher-info-tablet">
      <p class="teacher-name">Елена Морева</p>
      <ul class="teacher-list">
        <li class="teacher-list-item">
          <svg class="teacher-list-item-check-svg">
            <use href="./images/svg/sprite.svg#check"></use>
          </svg>
          <p class="teacher-list-item-text">
            Опыт подготовки учеников к ВНО - 6 лет
          </p>
        </li>
        <li class="teacher-list-item">
          <svg class="teacher-list-item-check-svg">
            <use href="./images/svg/sprite.svg#check"></use>
          </svg>
          <p class="teacher-list-item-text">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </p>
        </li>
        <li class="teacher-list-item">
          <svg class="teacher-list-item-check-svg">
            <use href="./images/svg/sprite.svg#check"></use>
          </svg>
          <p class="teacher-list-item-text">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </p>
        </li>
      </ul>

      <ul class="teacher-education-list">
        <li class="teacher-education-list-item">
          <p class="teacher-education-list-item-text">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </p>
        </li>

        <li class="teacher-education-list-item">
          <p class="teacher-education-list-item-text">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </p>
        </li>

        <li class="teacher-education-list-item">
          <p class="teacher-education-list-item-text">
            В числе пройденных: English Grammar and Essay Writing (Berkeley),
            English Grammar&Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art
            of Teaching (GEMS education), Powerful Tools for Teaching and
            Learning (University of Houston).
          </p>
        </li>
      </ul>

      <a class="teacher-education-list-item-text-link" href=""
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</div>
