<div class="container">
    <h2 class="work-title">Как мы это делаем</h2>
    <ul class="work-list">
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="45" height="48">
                <use href="./images/svg/sprite.svg#icon4"></use>
            </svg>
            <h3 class="work-list-item-title">Адаптированная программа
                подготовки к ВНО</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">Ты будешь изучать грамматику и <br>лексику одновременно. И ты <br>научишься
                писать
                сочинения.</p>
        </li>
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="48" height="47">
                <use href="./images/svg/sprite.svg#icon2"></use>
            </svg>
            <h3 class="work-list-item-title">Аудитория и <br>онлайн-обучение</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">Учитель поможет не только в <br>аудитории, но и во время домашней подготовки.
                Родители могут <br>участвовать в чате при желании.</p>
        </li>
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="68" height="48">
                <use href="./images/svg/sprite.svg#icon6"></use>
            </svg>
            <h3 class="work-list-item-title">Привычка читать на <br>английском языке</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">Статьи из источников, которые используются при разработке настоящего ВНО,
                будут приходить <br>на телефон дважды в неделю.</p>
        </li>
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="48" height="48">
                <use href="./images/svg/sprite.svg#icon7"></use>
            </svg>
            <h3 class="work-list-item-title">Психологическая
                <br>поддержка</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">Мы научим тебя методикам <br>прохождения тестирований, <br>умению планировать
                свою <br>подготовку уверенности в себе.</p>
        </li>
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="40" height="48">
                <use href="./images/svg/sprite.svg#icon1"></use>
            </svg>
            <h3 class="work-list-item-title">Обучение по авторским пособиям</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">Тебе не нужно тратить время
                на самостоятельный поиск материала <br>и ничего покупать дополнительно. <br>Мы составили
                2 пособия для тебя.</p>
        </li>
        <li class="work-list-item">
            <svg class="work-list-item-first-svg" width="57" height="48">
                <use href="./images/svg/sprite.svg#icon9"></use>
            </svg>
            <h3 class="work-list-item-title">Умение воспринимать устную английскуб речь</h3>
            <svg class="work-list-item-second-svg" width="21" height="10">
                <use href="./images/svg/sprite.svg#icon-line"></use>
            </svg>
            <p class="work-list-item-text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
                и <br>разбирать аудиозаписи
                в <br>соответствии с изучаемой лексикой.</p>
        </li>
    </ul>
</div>