.btn {
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    width: 260px;
    background-color: #FF6B09;
    border: 1px solid #FF6B09;
    padding: 15px 5px;
    transition: all 0.5s;
}

@media screen and (min-width: 1356px) {
    .registration .btn {
        width: 354px;
        margin-top: 80px;
        height: 70px;
        font-size: 14px;
    }
}