.btn {
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    width: 260px;
    background-color: #FF6B09;
    border: none;
    padding: 15px 5px;
    transition: all 0.5s;
}