.contacts {
    padding-top: 30px;
    padding-bottom: 30px;
    &-link-logo {
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }
    &-link-tel {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        color: #111518;
    }
    &-link-tel span {
        margin-left: 10px;
        transition: all 0.3s;
    }
    &-link-social img {
        margin: 0 auto;
        margin-top: 30px;
    }
    &-list-link-svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .contacts-list {
        display: flex;
        align-items: center;
    }
    .contacts-list-item:first-child {
        margin-right: auto;
    }
    .contacts-list-item:nth-child(2) {
        letter-spacing: 0.06em;
        margin-right: 48px;
        position: relative;
    }
    .contacts-list-item:nth-child(2)::after {
        position: absolute;
        content: "";
        height: 40px;
        bottom: -10px;
        right: -10%;
        border: 1px solid #B9B9B9;
    }
    .contacts-link-social img {
        margin-top: 0;
    }
    .contacts-link-logo {
        margin-bottom: 0;
    }
    .contacts-link-tel {
        font-size: 20px;
    }
    .contacts-list-link-svg {
        width: 24px;
        height: 24px;
    }
}