.header{
    position: fixed;
    padding-top: 30px;
    width: 100%;
    height: 80px;
   display: flex;
   z-index: 25;
   background-color: #fffffffb;
   box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  
}
.header-menu{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
  
}
.header-link-right{
    margin-right: 40px;
}
.header-link{
    margin-right: auto;
    z-index: 6;
    & .header-link-logo-white{
        display: none;
    }
    &.is-open .header-link-logo-white{
        display: block;
    }
    &.is-open .header-link-logo-black{
        display: none;
    }
}
.header-link-logo{
    width: 80px;
    height: 28.53px;
}
.header-box-link{
    margin-right: auto;
}
.menu-burger-icon{
    width: 20px;
    height: 20px;
    z-index: 6;
}
.menu-burger-open{
    fill: black;
}
.menu-burger-close{
    fill: white;
}
.header-navigation{
    padding-top: 80px;
    padding-bottom: 222px;
    display: none;
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: $burger-background-color;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 128px;
    &.is-open{
        display: block;
    }
}
.header-navigation-list-item{
    display: block;
    margin-left: 25px;
}
.header-navigation-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 80px;
}
.header-navigation-list-item-link{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: $white-text-color;
    &:hover{
        color: $orange-text-color;
    }
    &:nth-child(2){
        color: $orange-text-color;
    }
}
.button-burger{
    display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 3;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  & .menu-burger-close {
    display: none;
  }

& .menu-burger-open {
    display: block;
  }
  &.is-open .menu-burger-close {
    display: block;
}
    &.is-open .menu-burger-open {
    display: none;
}
}


@media screen and (min-width: 768px){
    .button-burger{
        top: 40px;
        right: 40px;

    }
    .header-navigation {
        padding-top: 159px;
        padding-bottom: 688px;
    }
    .header-navigation-list {
        margin-left: 200px;
        margin-bottom: 0;
    }
    .header-navigation-list-item:not(:last-child){
        margin-bottom: 10px;
    }
    .header-link-logo{
        width: 128px;
        height: 45px;
    }
    .header-navigation-list-item-link{
        font-size: 26px;
        line-height: 1.808;
    }
   
}
@media screen and (min-width: 1356px){
.header{
    position: static;
}
.hero{
    padding-top: 100px;
}
.button-burger{
    display: none;
}
.header-link{
    margin-right: 0;
}
.header-navigation{
    padding: 0;
    display: flex;
    position: relative;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: unset;
    margin-right: 20px;
}
.header-navigation-list{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 0;
}
.header-navigation-list-item{
    margin: 0;
    align-items: center;
    &:not(:last-child){
        margin: 0;
        margin-bottom: 0;
        margin-right: 40px;
    }
}
.header-navigation-list-item-link{
    font-weight: 800;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    color: #B9B9B9;
}
}


