.hero-line-img{
    background-image: url("../images/mobile-img/Vector1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 530px;
    background-position-y: bottom;
}
.hero-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    
    letter-spacing: 0.03em;
    
    color: $black-text-color;
    margin-bottom: 30px;
}
.hero-text{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;

margin-bottom: 30px;
letter-spacing: 0.08em;

color: $black-text-color;
}

.hero-text-span-light-grey{
    color: $grey-text-color;
}
.hero-text-span-orange{
    color: $orange-text-color;
}
.hero-bg-img{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/mobile-img/headerbgx1.png');
    margin-bottom: 77px;
}
.hero-img{
    margin: 0 auto;
    padding-top: 9.49px;
    padding-left: 4px;
}
.hero-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.hero-list-item{
    width: calc((100% - 30px * 1) / 1);
    display: flex;
    position: relative;

    &::before{
        display: block;
        content: "";
        width: 60px;
        height: 60px;
        border: 2px solid $orange-text-color;
        margin-right: 15px;
    }
}
.hero-list-item-icon{
    width: 33.59px;
    height: 38.79px;
    fill: #ff6b09;
    position: absolute;
    top: 10px;
    left: 13px;
} 
.hero-list-item:not(:last-child){
    margin-bottom: 20px;
    
}
.hero-list-item-text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    align-items: center;
    width: 146px;
    letter-spacing: 0.08em;
    &::before{
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background-color: white;
        transform: rotate(90deg);
        position: absolute;
        top: 27px;
        left: -36px;
    }

}
