.program {
  background-color: $black-background-color;
  padding-top: 50px;
  padding-bottom: 341px;
  background-image: url("./../images/mobile-img/program1x.png");
  background-repeat: no-repeat;
  background-position: 200px 1500px;
  background-size: 30%;
}
@media screen and (min-device-pixrl-ration: 2), screen and (min-resolution: 192dpi),  screen and (min-resolution: 2dppx), screen and (min-width: 480px){
  .program{
  background-image: url("./../images/mobile-img/program2x.png");
}
}
.program-title {
  color: $white-text-color;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  text-align: center;

  margin-bottom: 43px;
}
.program-list {
  width: 206px;
  margin-left: auto;
  padding-left: 20px;
  position: relative;
 &::before{
  position: absolute;
  content: "";
  display: block;
  height: 92%;
  border-left: 1px solid #ffffff;
  top: 22px;
  left: -2px;
  right: 0;
  bottom: 0;

 }
}

.program-list-item {
  color: $white-text-color;
  font-weight: 800;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
    &:not(:last-child){
      margin-bottom: 30px;
    }
}

.program-list-item-title{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
letter-spacing: 0.08em;
text-transform: uppercase;
}

.program-line{
  &::before{
    display: block;
    content: "";
    background-color: $orange-background-color;
    width: 12px;
    height: 12px;
    border-radius: 70px;
    position: relative;
    top: 19px;
    left: -27px;
  }
}

.program-list-item-list{
  margin: 0;
}
.program-list-item-list-item-title {
  color: $orange-text-color;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  white-space: pre-line;
  margin-top: 8px;
  &::before{
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    margin-right: 20px;
    background-color: $orange-background-color;
  }
}

.program-list-item-list-item-text {
  color: $grey-text-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  white-space: pre-line;
}
.choose-title{
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  white-space: pre-line;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 30px;
}
.program .problems-list{
  top: 75px;
}
@media screen and (max-width: 1355px){
.program .problems-list-item:nth-child(5) {
  width: 170px;
}
}
@media screen and(min-width: 768px){
  .program{
    padding-bottom: 392px;
    background-image: url("./../images/tablet-img/program1x.png");
    background-position: 400px 930px;
    background-size: 50%;
  }
  @media screen and (min-device-pixrl-ration: 2), screen and (min-resolution: 192dpi),  screen and (min-resolution: 2dppx){
    .program{
    background-image: url("./../images/tablet-img/program2x.png");
  }
  }
  .program-title {
    font-size: 26px;
    line-height: 1.308;
    text-align: start;
  }
  .program-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 97px;
    &::before {
      height: 87%;
      top: 22px;
      left: 75px;
    }
}
.program-list-item{
  width: calc((100% - 30px * 1) / 1);
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
}
  .program-list-item-list{
    display: flex;
    margin-top: 5px;
  }
  .program-list-item-list-item:not(:last-child){
    margin-right: 30px;
  }

  .choose-title{
    position: absolute;
    white-space: initial;
    bottom: -270px;
    left: 25%;
    font-size: 26px;
  }
  .program .problems-list{
    top: 263px;
  }
@media screen and (max-width: 1355px){
.program .problems-list-item:nth-child(6){
  margin-left: 122px;
}
}
}
.program .problems-list-item-text{
  white-space: break-spaces;
}
@media screen and(min-width: 1356px){
  .program-line-list{
    border-top: 1px solid $white-text-color;
    width: 100%;
    position: absolute;
    top: 150px;
  }
  .program{
    padding-bottom: 363px;
    background-image: url("./../images/header-img/program1x.png");
    background-position: -100px 530px;
    position: relative;
    background-size: 50%;
  }
  @media screen and (min-device-pixrl-ration: 2), screen and (min-resolution: 192dpi),  screen and (min-resolution: 2dppx){
    .program{
    background-image: url("./../images/header-img/program2x.png");
  }

}
  .program-line::before {
    top: -7px;
    left: -3px;
}
.program-title {
  font-size: 46px;
  line-height: 1.304;
}
  .program-list{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: flex-end;
    padding-left: 0;
    &::before {
     border: 0;
    }
}
.program-list-item{
  width: calc((100% - 30px * 4) / 5);
  display: flex;
}
.program-list-item-title{
  font-size: 30px;
}
.program-list-item-list {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  
}

.program-list-item-list-item{
  &:not(:first-child){
  margin-top: 25px;
}
}
.program-list-item-list-item-title{
  font-size: 20px;
  line-height: 1.65;
}
.program-list-item-list-item-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.556;
  white-space: revert;
  margin-top: 8px;
  color: #B9B9B9;

opacity: 0.5;
}
.program-list-item-list-item-text-span{
  padding-right: 120px;
}
.choose-title{
  display: none;
}
.program .problems-list{
  top: 160px;
  padding-top: 113px;
    padding-right: 66px;
    padding-bottom: 62px;
    padding-left: 84px;
}
 .program .problems-list-item{
   width: calc((100% - 40px * 2) / 3);
 }
// .program .problems-list-item:not(:nth-child(-n + 2)) {
//   margin-top: 57px;
// }
// .program .problems-list-item:not(:nth-child(2n + 1)) {
//   margin-left: 40px;
// }
}