.registration {
    background-image: url('../images/tablet-img/reg-background1x.png'), linear-gradient(#111518, #111518);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position-x: 84%;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    & span {
        white-space: nowrap;
    }
    & .span-color {
        color: $orange-text-color;
    }
    &-title {
        margin-bottom: 30px;
        letter-spacing: 0.03em;
        font-size: 14px;
        font-weight: 800;
    }
    &-text {
        font-weight: 600;
        margin-bottom: 30px;
        letter-spacing: 0.08em;
        font-size: 12px;
    }
    & .registration-form-input {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        color: #fff;
        height: 48px;
        width: 100%;
        background: transparent;
        border: none;
        border: 1px solid #fff;
    }
    &-form-input:not(:nth-child(-n+1)) {
        margin-top: 30px;
    }
    &-form-input::placeholder {
        color: #fff;
        font-style: normal;
        letter-spacing: 0.08em;
        font-size: 14px;
    }
    @media screen and (min-device-pixrl-rotation: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width:320px) {
        background-image: url('../images/tablet-img/reg-background2x.png'), linear-gradient(#111518, #111518);
    }
}

@media screen and (min-width: 768px) {
    .registration {
        background-image: url('../images/tablet-img/reg-background1x.png'), linear-gradient(#111518, #111518);
        background-position: center;
        &-title {
            font-size: 26px;
        }
        &-text {
            font-size: 14px;
            width: 452px;
            margin: 0 auto;
            margin-bottom: 30px;
            letter-spacing: 0.10em;
        }
        &-form {
            max-width: 390px;
            margin: 0 auto;
        }
        & .registration-form-input {
            font-size: 20px;
        }
        @media screen and (min-device-pixrl-rotation: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/tablet-img/reg-background2x.png'), linear-gradient(#111518, #111518);
        }
    }
}

@media screen and (min-width: 1356px) {
    .registration {
        padding-top: 100px;
        padding-bottom: 62px;
        background-image: url('../images/header-img/reg-background1x.png'), linear-gradient(#111518, #111518);
        background-position: center;
        &-title {
            width: 1090px;
            font-size: 46px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        &-text {
            font-size: 30px;
            width: 100%;
            margin-bottom: 56px;
        }
        &-form {
            width: 478px;
        }
        & .registration-form-input {
            height: 70px;
        }
        &-form-input::placeholder {
            font-size: 20px;
        }
        @media screen and (min-device-pixrl-rotation: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url('../images/header-img/reg-background2x.png'), linear-gradient(#111518, #111518);
        }
    }
}