.work {
  padding-top: 278px;
  padding-bottom: 50px;
  text-align: center;
}

.work-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $black-text-color;
  margin-bottom: 30px;
}

.work-list-item {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 767px) {
    width: 100%;
    padding-right: 14px;
    padding-left: 14px;
    &:nth-child(3) {
      padding-right: 20px;
      padding-left: 20px;
    }
    &:nth-child(4) {
      padding-right: 24px;
      padding-left: 24px;
    }
    &:nth-child(5) {
      padding-right: 21px;
      padding-left: 21px;
    }
    &:not(:nth-last-child(-n + 1)) {
      margin-bottom: 15px;
    }
  }
}

.work-list-item-first-svg {
  margin-bottom: 15px;
}

.work-list-item-title {
  position: relative;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
  color: $black-text-color;
  margin-bottom: 40px;
}
.work-list-item-title::after {
  content: '';
  background-color: $orange-background-color;
  width: 20px;
  height: 2px;
  position: absolute;
  bottom: -22px;
  left: 47%;
}

.work-list-item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.08em;
  color: $grey-text-color;
}

.work-list-item:hover,
.work-list-item:focus {
  background-color: $orange-background-color;
}

.work-list-item-first-svg {
  fill: $svg-color;
}

.work-list-item:hover .work-list-item-title,
.work-list-item:focus .work-list-item-title {
  color: $white-text-color;
}

.work-list-item:hover .work-list-item-text,
.work-list-item:focus .work-list-item-text {
  color: $white-text-color;
}

.work-list-item:hover .work-list-item-title:after,
.work-list-item:focus .work-list-item-title:after {
  background-color: $white-text-color;
}

.work-list-item:hover .work-list-item-first-svg,
.work-list-item:focus .work-list-item-first-svg {
  fill: $white-text-color;
}

@media screen and (min-width: 768px) {
  .work {
    padding-top: 205px;
  }

  .work-list {
    display: flex;
    flex-wrap: wrap;
  }

  .work-list-item {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1355px) {
      padding-right: 33px;
      padding-left: 33px;
      &:nth-child(1) {
        padding-right: 40px;
        padding-left: 40px;
      }
      &:nth-child(2) {
        padding-right: 40px;
        padding-left: 40px;
      }
      &:nth-child(3) {
        padding-right: 40px;
        padding-left: 40px;
      }
      &:nth-child(4) {
        padding-right: 37px;
        padding-left: 37px;
      }
      &:nth-child(6) {
        padding-right: 35px;
        padding-left: 35px;
      }

      width: calc((100% - 20px) / 2);
      &:not(:nth-child(2n + 1)) {
        margin-left: 20px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 20px;
      }
    }
  }

  .work-list-item-first-svg {
    margin-bottom: 30px;
  }

  .work-list-item-title {
    margin-bottom: 45px;
    &after {
      top: 27px;
    }
  }
}

@media screen and (min-width: 1356px) {
  .work {
    padding-top: 280px;
    padding-bottom: 130px;
  }

  .work-title {
    text-align: start;
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
  }

  .work-list-item {
    padding-top: 30px;
    padding-bottom: 73px;
    padding-right: 48px;
    padding-left: 48px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: all 0.7s;
    &:nth-child(1) {
      padding-right: 35px;
      padding-left: 35px;
    }

    &:nth-child(6) {
      padding-right: 41px;
      padding-left: 41px;
    }

    width: calc((100% - 20px * 2) / 3);
    &:not(:nth-child(3n + 1)) {
      margin-left: 20px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 20px;
    }
  }

  .work-list-item-first-svg {
    margin-bottom: 15px;
  }

  .work-list-item-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 38px;
    &after {
      top: 20px;
    }
  }

  .work-list-item-text {
    font-size: 18px;
    line-height: 1.555;
  }
}
